[submodule "site-lisp/extensions/cache-path-from-shell"]
	path = site-lisp/extensions/cache-path-from-shell
	url = https://github.com/manateelazycat/cache-path-from-shell.git
[submodule "site-lisp/extensions/exec-path-from-shell"]
	path = site-lisp/extensions/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "magit-popup"]
	path = site-lisp/extensions/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "ghub"]
	path = site-lisp/extensions/ghub
	url = https://github.com/magit/ghub.git
[submodule "with-editor"]
	path = site-lisp/extensions/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "dash"]
	path = site-lisp/extensions/dash
	url = https://github.com/magnars/dash.el.git
[submodule "magit"]
	path = site-lisp/extensions/magit
	url = https://github.com/magit/magit.git
[submodule "graphql"]
	path = site-lisp/extensions/graphql
	url = https://github.com/vermiculus/graphql.el.git
[submodule "treepy"]
	path = site-lisp/extensions/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "emms"]
	path = site-lisp/extensions/emms
	url = https://git.savannah.gnu.org/git/emms.git
[submodule "projectile"]
	path = site-lisp/extensions/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "paredit"]
	path = site-lisp/extensions/paredit
	url = http://mumble.net/~campbell/git/paredit.git/
[submodule "pyim"]
	path = site-lisp/extensions/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "popup"]
	path = site-lisp/extensions/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "async"]
	path = site-lisp/extensions/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "posframe"]
	path = site-lisp/extensions/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "super-save"]
	path = site-lisp/extensions/super-save
	url = https://github.com/bbatsov/super-save.git
[submodule "aweshell"]
	path = site-lisp/extensions/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "company"]
	path = site-lisp/extensions/company
	url = https://github.com/company-mode/company-mode.git
[submodule "color-rg"]
	path = site-lisp/extensions/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "s"]
	path = site-lisp/extensions/s
	url = https://github.com/magnars/s.el.git
[submodule "window-numbering"]
	path = site-lisp/extensions/window-numbering
	url = https://github.com/nschum/window-numbering.el.git
[submodule "sdcv"]
	path = site-lisp/extensions/sdcv
	url = https://github.com/RenWenshan/sdcv.git
[submodule "awesome-tab"]
	path = site-lisp/extensions/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "ace-jump"]
	path = site-lisp/extensions/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "helm"]
	path = site-lisp/extensions/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "helm-ls-git"]
	path = site-lisp/extensions/helm-ls-git
	url = https://github.com/emacs-helm/helm-ls-git.git
[submodule "vi-navigate"]
	path = site-lisp/extensions/vi-navigate
	url = https://github.com/manateelazycat/vi-navigate.git
