[submodule "site-lisp/extensions/exec-path-from-shell"]
	path = site-lisp/extensions/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "magit-popup"]
	path = site-lisp/extensions/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "ghub"]
	path = site-lisp/extensions/ghub
	url = https://github.com/magit/ghub.git
[submodule "with-editor"]
	path = site-lisp/extensions/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "dash"]
	path = site-lisp/extensions/dash
	url = https://github.com/magnars/dash.el.git
[submodule "magit"]
	path = site-lisp/extensions/magit
	url = https://github.com/magit/magit.git
[submodule "graphql"]
	path = site-lisp/extensions/graphql
	url = https://github.com/vermiculus/graphql.el.git
[submodule "treepy"]
	path = site-lisp/extensions/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "emms"]
	path = site-lisp/extensions/emms
	url = https://git.savannah.gnu.org/git/emms.git
[submodule "projectile"]
	path = site-lisp/extensions/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "pyim"]
	path = site-lisp/extensions/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "popup"]
	path = site-lisp/extensions/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "async"]
	path = site-lisp/extensions/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "posframe"]
	path = site-lisp/extensions/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "aweshell"]
	path = site-lisp/extensions/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "company"]
	path = site-lisp/extensions/company
	url = https://github.com/company-mode/company-mode.git
[submodule "color-rg"]
	path = site-lisp/extensions/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "window-numbering"]
	path = site-lisp/extensions/window-numbering
	url = https://github.com/nschum/window-numbering.el.git
[submodule "ace-jump"]
	path = site-lisp/extensions/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "helm"]
	path = site-lisp/extensions/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "helm-ls-git"]
	path = site-lisp/extensions/helm-ls-git
	url = https://github.com/emacs-helm/helm-ls-git.git
[submodule "vi-navigate"]
	path = site-lisp/extensions/vi-navigate
	url = https://github.com/manateelazycat/vi-navigate.git
[submodule "flycheck"]
	path = site-lisp/extensions/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "pkg-info"]
	path = site-lisp/extensions/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule "epl"]
	path = site-lisp/extensions/epl
	url = https://github.com/cask/epl.git
[submodule "multiple-cursors"]
	path = site-lisp/extensions/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "magithub"]
	path = site-lisp/extensions/magithub
	url = https://github.com/vermiculus/magithub.git
[submodule "sdcv"]
	path = site-lisp/extensions/sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "s"]
	path = site-lisp/extensions/s
	url = https://github.com/magnars/s.el.git
[submodule "ghub-plus"]
	path = site-lisp/extensions/ghub-plus
	url = https://github.com/vermiculus/ghub-plus.git
[submodule "apiwrap"]
	path = site-lisp/extensions/apiwrap
	url = https://github.com/vermiculus/apiwrap.el.git
[submodule "markdown-mode"]
	path = site-lisp/extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "undo-tree"]
	path = site-lisp/extensions/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "drag-stuff"]
	path = site-lisp/extensions/drag-stuff
	url = https://github.com/rejeep/drag-stuff.el.git
[submodule "disable-mouse"]
	path = site-lisp/extensions/disable-mouse
	url = https://github.com/purcell/disable-mouse.git
[submodule "company-english-helper"]
	path = site-lisp/extensions/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "atomic-chrome"]
	path = site-lisp/extensions/atomic-chrome
	url = https://github.com/raxod502/atomic-chrome.git
[submodule "emacs-websocket"]
	path = site-lisp/extensions/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "awesome-pair"]
	path = site-lisp/extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "lsp-mode"]
	path = site-lisp/extensions/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "company-lsp"]
	path = site-lisp/extensions/company-lsp
	url = https://github.com/tigersoldier/company-lsp.git
[submodule "lsp-ui"]
	path = site-lisp/extensions/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui.git
[submodule "anki-editor"]
	path = site-lisp/extensions/anki-editor
	url = https://github.com/louietan/anki-editor.git
[submodule "emacs-request"]
	path = site-lisp/extensions/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "hydra"]
	path = site-lisp/extensions/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "f"]
	path = site-lisp/extensions/f
	url = https://github.com/rejeep/f.el.git
[submodule "bui"]
	path = site-lisp/extensions/bui
	url = https://github.com/alezost/bui.el.git
[submodule "ht"]
	path = site-lisp/extensions/ht
	url = https://github.com/Wilfred/ht.el.git
[submodule "yasnippet"]
	path = site-lisp/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "treemacs"]
	path = site-lisp/extensions/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
[submodule "spinner"]
	path = site-lisp/extensions/spinner
	url = https://github.com/Malabarba/spinner.el.git
[submodule "mocha-snippets"]
	path = site-lisp/extensions/mocha-snippets
	url = https://github.com/cowboyd/mocha-snippets.el.git
[submodule "flow-minor-mode"]
	path = site-lisp/extensions/flow-minor-mode
	url = https://github.com/an-sh/flow-minor-mode.git
[submodule "super-save"]
	path = site-lisp/extensions/super-save
	url = https://github.com/bbatsov/super-save.git
[submodule "cider"]
	path = site-lisp/extensions/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "clojure-mode"]
	path = site-lisp/extensions/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "sesman"]
	path = site-lisp/extensions/sesman
	url = https://github.com/vspinu/sesman.git
[submodule "pyim-basedict"]
	path = site-lisp/extensions/pyim-basedict
	url = https://github.com/tumashu/pyim-basedict.git
[submodule "isend-mode"]
	path = site-lisp/extensions/isend-mode
	url = https://github.com/ffevotte/isend-mode.el.git
[submodule "helm-rg"]
	path = site-lisp/extensions/helm-rg
	url = https://github.com/microamp/helm-rg.git
